$body-bg: #000000;
$main-color: #00b3ff;
$txt-color: #fff;

$white: #fff;
$black: #000;

$box-shadow: rgba(39, 39, 53, 0.487) 0px 7px 29px 0px;

$header-height: 8rem;
$header-shrink-height: 5rem;
$border-radius: 30px;

$mobile-width: 600px;
$tablet-width: 1024px;

$font-family: "Montserrat", sans-serif;
